*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

button:disabled,
button[disabled] {
  opacity: 0.3;
}

.box {
  background-color: #fff;
  border-radius: 0.5rem;
}
